<Configuration>
    <MappedFolders>
{{OtherMappedFolders}}
    </MappedFolders>
    <!-- 音频 -->
    <AudioInput>Enable</AudioInput>
    <!-- 视频 -->
    <VideoInput>Disable</VideoInput>
    <!-- 内存限制 -->
    <MemoryInMB>4096</MemoryInMB>
    <!-- 开机运行脚本 -->
    <LogonCommand>
        <Command>C:\Scripts\sandbox-setup.cmd</Command>
    </LogonCommand>
    <!-- vGpu -->
    <vGPU>Enable</vGPU>
</Configuration>
